@import url('https://fonts.googleapis.com/css?family=Alata|Roboto:300,400,500,700&display=swap');

$main-font: "Roboto", sans-serif;
$sec-font: "Alata", sans-serif;

$light: 300;
$reg: 400;
$med: 500;
$bold: 700;

